<h1>This is the list of all the surfboards:</h1>
<% @surfboards.each do |surfboard| %>
<ul>
  <li><%= surfboard.name %> (<%= surfboard.price %>€/day)</li>
</ul>
<% end %>

<p><%= link_to "Add a new board", new_surfboard_path %></p>
